---
import Base from '../layouts/Base.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Demo from '../components/Demo.astro';
import Features from '../components/Features.astro';
import Engines from '../components/Engines.astro';
import InstallSection from '../components/InstallSection.astro';
import WordOrigin from '../components/WordOrigin.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <Navbar />
  <main>
    <Hero />
    <Demo />
    <Features />
    <Engines />
    <InstallSection />
    <WordOrigin />
  </main>
  <Footer />
</Base>
